
#supplier-title {
    margin: 0;
    padding: 0;
    background: #ccc;
}

#supplier-title h2 {
    padding: 10px 0;
    margin: 0;
}

.select {
    margin: 5px 0px;
}

.input {
    margin: 0px;
    height: 90px;
    background: #ccc;
    margin-top: 5px;
}

.input .input-content {
    margin: 0px;
    padding: 10px 5px;
}

.content {
    margin-top: 10px;
}